* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (min-width: 360px) {
  .backgroundimage {
    background: radial-gradient(86.94% 263.61% at 96.08% 15.9%, rgba(0, 25, 88, 0) 0%, #000000 100%), url(Rectangle.png) 60% 5%; }
  .main-info {
    margin: 8% 0 0 10%;
    display: flex;
    flex-flow: column; }
  img {
    width: 48px; }
  .b-right {
    visibility: hidden; }
  .numbers {
    display: flex;
    flex-flow: column; }
    .numbers div {
      display: flex;
      flex-flow: column;
      text-align: center; } }

@media (min-width: 768px) {
  .backgroundimage {
    background: radial-gradient(86.94% 263.61% at 96.08% 15.9%, rgba(0, 25, 88, 0) 0%, #000000 100%), url(Rectangle.png) 30% 10%; }
  .main-info {
    margin: 5% 0 0 10%;
    display: flex;
    flex-flow: row; }
  img {
    height: 120px;
    margin: 1.5% 3% 0 0; }
  .b-right {
    visibility: hidden; }
  .numbers {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .numbers div {
      display: flex;
      flex-flow: column;
      margin: 0 80px 0 80px; } }

@media (min-width: 1024px) {
  .main-info {
    margin: 5% 0 0 10%;
    padding-right: 20%;
    display: flex;
    flex-flow: row; }
  img {
    height: 120px;
    margin: 1.5% 3% 0 0; }
  .b-right {
    position: relative;
    left: 290%;
    bottom: 15%;
    visibility: visible; }
  .backgroundimage {
    background: radial-gradient(86.94% 263.61% at 96.08% 15.9%, rgba(0, 25, 88, 0) 0%, #000000 100%), url(Rectangle.png) no-repeat 100% 1%; }
  .bottom-block {
    height: 20%; }
    .bottom-block .numbers {
      display: flex;
      flex-flow: row;
      justify-content: space-around; }
      .bottom-block .numbers div {
        display: flex;
        flex-flow: column;
        text-align: center; } }

.conteiner {
  display: flex;
  flex-flow: column;
  height: 100%; }
  .conteiner .backgroundimage .main-info {
    margin-bottom: 20px; }
    .conteiner .backgroundimage .main-info h1,
    .conteiner .backgroundimage .main-info h2 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      height: 60px;
      color: #ffffff; }
    .conteiner .backgroundimage .main-info p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff; }
  .conteiner .backgroundimage button {
    width: 250px;
    height: 57px;
    background: #ffffff;
    border-radius: 100px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #001958; }
  .conteiner .bottom-block h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #001958;
    text-align: center;
    margin: 0; }
  .conteiner .bottom-block .numbers div .word {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #4f4f4f; }
  .conteiner .bottom-block .numbers div .number {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    color: #828282; }
